<section class="create">
    <form id="new-post">
        <input type="text" name="title" placeholder="Post Title">
        <textarea class="form-control" name="content" rows="10"></textarea>
        <button>add post</button>
    </form>
</section>

<script src="/add-post.js"></script>