<form class="js-login-form">
    <div class="form-group">
        <label class="form-label" for="login-username">Email</label>
        <input class="form-input" type="text" id="login-username" name="email" required />
    </div>
    <div class="form-group">
        <label class="form-label" for="login-password">Password</label>
        <input class="form-input" type="password" id="login-password" name="password" required />
    </div>
    <div class="form-btn-group">
        <button class="btn" type="submit">Log In</button>
        <p class="form-message">New?
            <button class="btn-link js-login-block-toggle" type="button">Create
                Account</button>
        </p>
    </div>
</form>
<script src="/login.js"></script>