<form class="js-signup-form">
    <div class="form-group">
        <label class="form-label" for="signup-username">Name</label>
        <input class="form-input" type="text" id="signup-username" name="name" />
    </div>
    <div class="form-group">
        <label class="form-label" for="signup-password">Password</label>
        <input class="form-input" type="password" id="signup-password" name="password" required />
    </div>
    <div class="form-btn-group">
        <button class="btn" type="submit">Sign Up</button>
        <p class="form-message">Have an account? <button class="btn-link js-login-block-toggle"
                type="button">Login</button></p>
    </div>
</form>
<script src="/signup.js"></script>